  <div id="login">

    <h2><span class="fontawesome-lock"></span>Autenticación</h2>

    <form method='POST' action='/session'>

      <fieldset>
        <input type="hidden" name="redir" value='<%= redir %>'>
        <p><label for="email">Usuario:</label></p>
        <p><input type="text" id="login" name="login" value="" placeholder="Introduzca Usuario" size="35"></p>  

        <p><label for="password">Contraseña:</label></p>
        <p><input type="password" id="password" name="password" placeholder="Introduzca Contraseña" size="35" ></p>  

        <p><input name="commit" type="submit" value="Entrar"></p>

      </fieldset>

    </form>

  </div> <!-- end login