<div id="newRelative">
    <p id="title">
      <strong>Añadir Familiar:</strong>
    </p>

    <p>
        <form method="post" action="/relatives" >      
            <% include _form.ejs %>
        </form>
    </p>
</div>