
<p>
    Editar Datos Médicos:  /patients/:patientId(\\d+)/medicaldata
</p>

<p>
    <form method="post" action="/patients/<%= patient.id %>/medicaldata?_method=PUT" >      
        <% include _form.ejs %>
    </form>
</p>
